:root {
  --white: white;
  --bg-color-lit: rgba(252, 159, 28, 0.1);
  --header: rgb(243, 91, 28);
  --text-color: rgb(252, 159, 28);
  --text-color-lit: rgb(253, 190, 19);
  --text-color-dark: rgb(121, 41, 6);
  --gray-lit: #d9d9d9;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: var(--header);
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

li {
  list-style: none;
}

button {
  padding: 10px;
  color: var(--white);
  background-color: var(--header);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 0 10px 20px;
}
button:hover {
  background-color: var(--bg-color-lit);
  color: var(--header);
  border: 2px solid var(--header);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.stripe {
  height: 6px;
  background-image: linear-gradient(to right, var(--header), var(--text-color-lit));
  margin: 0 auto;
}

.wrapper {
  background-color: var(--white);
}

.desktop-nav {
  display: flex;
  background-color: var(--bg-color-lit);
  height: 50px;
}

.desktop-nav > a {
  flex: 5;
  padding: 13px;
  text-align: center;
  border: 1px solid var(--gray-lit);
  border-right: none;
}

.desktop-nav > a:first-child {
  max-width: 15px;
  padding: 0;
  text-decoration: none;
  color: var(--text-color-dark);
  text-align: center;
  border: 1px solid var(--gray-lit) !important;
  border-left: none;
  border-right: none;
}

.desktop-nav > a:last-child {
  max-width: 15px;
  padding: 0;
  text-decoration: none;
  color: var(--text-color-dark);
  text-align: center;
  border: 1px solid var(--gray-lit);
  border-right: none;
}

.desktop-nav > a:hover {
  cursor: pointer;
  padding-top: 10px;
  color: var(--header);
  transition: all .1s ease-out;
}

.error {
  padding: 0;
  margin: 0;
  color: red;
  font-size: 14px;
  font-style: italic;
}

.link {
  text-decoration: none;
  color: inherit;
}

.swed-header {
  margin: 0;
  font-size: 22px;
  padding: 10px 15px;
  background: -webkit-linear-gradient(var(--text-color-lit), var(--header));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-container {
  margin: 20px auto;
  max-width: 600px;
}

.form-container {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 0 0 0;
}


/* Stepper component */
.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 10px;
}

.stepper-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.step-passed {
  visibility: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  background-color: var(--text-color);
}

.step-passed::after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: '\2713';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  background-color: var(--text-color);
}

/* .step-current {
  todo
} */

.step-not-passed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: var(--text-color-lit);
  font-size: 22px;
  font-weight: 600;
  border-radius: 50%;
  border: 1px solid var(--bg-color-lit);
  background-color: var(--bg-color-lit);
}

.hr-passed {
  width: 61px;
  border: 2px solid var(--text-color-lit);
}

.hr-not-passed {
  width: 61px;
  border: 2px solid var(--bg-color-lit);
}

.step-number-mobile {
  font-size: 20px;
  color: var(--text-color);
  margin: 0 0 0 10px;
}

.mobile-nav {
  display: none;
}







/* For NavBar Component */
@media screen and (max-width: 576px) {
  .mobile-nav {
    display: block;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    border-bottom: 1px solid var(--text-color);
  }
  .links-container {
    display: none;
    padding: 0;
    background-color: var(--gray-lit);
    transition: all .3s ease-out;
  }
  .show-container {
    display: block;
    height: auto;
    transition: all .3s ease-out;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 ;
    margin: 0;
    background-color: var(--gray-lit);
    transition: all .3s ease-out;
  }
  .links li {
    background-color: var(--white);
    margin: 1px 0;
    padding: 0.2rem 0.5rem;
    transition: all .3s ease-out;
  }
  .links li:hover {
    background: var(--text-color-lit);
    color: brown;
    padding-left: 1rem;
    cursor: pointer;
    transition: all .3s ease-out;
  }
  .links a {
    font-size: 1rem;
    text-transform: capitalize;
    margin: 5px 0;
  }
}