:root {
  --white: white;
  --bg-color-lit: rgba(252, 159, 28, 0.1);
  --header: rgb(243, 91, 28);
  --text-color: rgb(252, 159, 28);
  --text-color-lit: rgb(253, 190, 19);
  --text-color-dark: rgb(121, 41, 6);
  --gray-lit: #d9d9d9;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h2 {
  color: #f35b1c;
}
nav {
  display: flex;
  background-color: var(--bg-color-lit);
  height: 50px;

  /* border: 2px solid red */
}
nav > a {
  flex: 5;
  padding: 13px;
  text-decoration: none;
  color: var(--text-color-dark);
  text-align: center;
  border: 1px solid var(--gray-lit);
  border-right: none;
}
nav > a:first-child {
  max-width: 15px;
  padding: 0;
  text-decoration: none;
  color: var(--text-color-dark);
  text-align: center;
  border: 1px solid var(--gray-lit);
  border-left: none;
  border-right: none;
}
nav > a:last-child {
  max-width: 15px;
  padding: 0;
  text-decoration: none;
  color: var(--text-color-dark);
  text-align: center;
  border: 1px solid var(--gray-lit);
  border-right: none;
}
nav > a:hover {
  cursor: pointer;
  padding-top: 10px;
  color: var(--header);
  transition: all .1s ease-out;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button {
  padding: 10px;
  color: var(--white);
  background-color: var(--header);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 0 10px 20px;
}
button:hover {
  background-color: var(--bg-color-lit);
  color: var(--header);
  border: 2px solid var(--header);
}

.wrapper {
  background-color: var(--white);
}

.stripe {
  height: 6px;
  background-image: linear-gradient(to right, var(--header), var(--text-color-lit));
  margin: 0 auto;
}

.swed-header {
  margin: 0;
  font-size: 22px;
  padding: 10px 15px;
  background: -webkit-linear-gradient(var(--text-color-lit), var(--header));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 20px auto;
  max-width: 600px;
}

.form-container {
  padding: 15px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}


/* For NavBar Component */
